.formContainer {
  background-color: rgba(155, 178, 204, 0.07);
}

.container {
  max-width: 960px;
  padding: 0;
}

.title {
  font-family: arboria-bold, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 3rem;
  color: white;
  padding-top: 15px;
  margin-bottom: 40px;
}

.subtext {
  color: white;
  line-height: 2rem;
  margin-right: 80px;
  margin-bottom: 25px;
}

.bg-color {
  background-color: #0092ff;
  background-image: url("../../../assets/img/angled_trans.svg"), linear-gradient(to right, #1D58F5, #3B90F7);
  background-size: cover;
  height: 100vh;
}

.content-row {
  padding-top: 100px;
}

.term-to-use {
  background-color: #f2f3f7;
  padding: 20px;
  border: 1px solid #eaebef;
  margin: 30px 0;
}

.term-copy {
  cursor: pointer;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #384053;
}

.abc-checkbox {
  position: relative;
  padding-left: 0;
  float: left;
  top: 0;
  margin: 0;
  left: 0;
  /*width: 22px;*/
  min-width: 22px;
  /*height: 22px;*/
  cursor: default;
}

.container {
  margin-right: 18px;
  flex-grow: 1;
}

.account-label {
  z-index: 2;
  border-color: #0055ff;
  box-shadow: 0 1px 3px 0 rgba(159, 177, 201, 0.4);

  position: relative;
  height: 120px;
  background-color: white;
  border-radius: 3px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
}

.d-sm-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

.account-type-container {
  margin-right: 18px;
  flex-grow: 1;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] {
  z-index: 2;
  border-color: #0055ff;
  -webkit-box-shadow: 0 1px 3px 0 rgba(159, 177, 201, 0.4);
  -moz-box-shadow: 0 1px 3px 0 rgba(159, 177, 201, 0.4);
  box-shadow: 0 1px 3px 0 rgba(159, 177, 201, 0.4);
}

input[type=checkbox] {
  position: relative;
  top: 5px;
  left: 0;
  width: 20px;
  height: 20px;
  margin: 0;
}

.active {
  border: 1px solid blue !important;
}

.account-label {
  display: inline-block;
  position: relative;
  height: 120px;
  background-color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ecf0f3;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
}

.account-label-icon.individual {
  background-image: url("../../../assets/img/register-personal-icon.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin-left: 50px;
  display: block;
  float: left;
}

.account-label-icon.business {
  background-image: url("../../../assets/img/register-business-icon.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin-left: 50px;
  display: block;
  float: left;
}

.account-label-title {
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
}

ul {
  padding-left: 20px;
  padding-top: 10px;
}

ul li .met {
  color: #061027;
  font-weight: 600;
}

ui li {
  color: #9BB2CC;
  margin: 5px 0;
}

